/* Set font for the body */
body{
    font-family: "Raleway", Arial, Halvetica, sans-serif;
}
h2{
    text-transform: uppercase;
    text-align: center;
    color: #940e0e;
}

hr{
    border-style: inset;
    background-color: #940e0e;
}
/* Style the buttons that are used to open and close the accordion panel */
.accordion{
    background-color: #940e0e;
    color: #ece3cf;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    text-transform: uppercase;
    font-size: 20px;
}
.accordion:after{
    content: '\02795'; /*unicode character for "plus sign (+) */
    font-size: 13px;
    color: #ece3cf;
    float: right;
    margin-left: 5px;
}

.active:after{
    content: '\2796'
}
/* Add a brackground color to the button if it is clicked on (add the .active class with JS), when you move the mouse over it (hove) */

.active, .accordion:hover{
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */

.panel{
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.panel p{

    color: darkred;
    text-align: justify;
}